<!DOCTYPE html>
<html>
  <title>CVEDatabase</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
  </head>
  <body>

    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/">Users</a>
      <a href="/CVE/">CVEs</a>
      <div class="topnav-right">
        <a href="/group/">Group</a>
        <a href="/account/"><%=username %></a>
      </div>
      </div>
    <form class="" action="/user/" method="get">
      <input type="text" name="search" placeholder="Search User">
      <input type="submit" value="Search">
    </form>
    <div class="home">

<table id="table">
  <tr>
    <td>Username</td>
    <td>Number of CVE</td>
  </tr>
    </div>
    <div class="footer">
      <h1>ciao</h1>
    </div>
  </body>
</html>
