<!DOCTYPE html>
<html>
  <title>CVEDatabase</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/">Users</a>
      <a href="/CVE/">CVEs</a>
      <% if(username==false){ %>
        <div class="topnav-right">
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
        <% }%>
        <%if(username){ %>
          <div class="topnav-right">
            <a href="/CVE/">Console</a>
            <div class="dropdown">
              <button class="dropbtn">Account</button>
              <div class="dropdown-content">
                <a href="/account/"><%=username %></a>
                <a href="/group/">Group</a>
              </div>
            </div>
          </div>
        <%}%>
      </div>
  </head>
  <body>
    <h1></h1>
    <div class="footer">
      <h1>ciao</h1>
    </div>
  </body>
</html>
