<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CVE Database Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
	</head>
	<body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
    </div>
		<div class="login-form">
			<h1>Login Form</h1>
			<%if (messages.error){%>
				<%= messages.error %>
				<%}%>
			<form action="login" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit" value="Log In">
			</form>
			<%if (messages.error){%>
				<div style="padding:15px">
					<form action="/register" method="get">
						<input type="submit" value="Register">
					</form>
					<a href="/login/?password=lost">Lost Password</a>
				</div>
			<%}%>
		</div>
	</body>
</html>
