<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CVE Database New User</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
	</head>
	<body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
    </div>
		<div class="login-form">
			<h1>Register Form</h1>
			<%if(error){%>
				<h1><%=error%></h1>
			<%}%>
			<form action="register" method="POST">
        <input type="text" name="username" placeholder="Username" required>
				<input type="text" name="email" placeholder="Email" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>
