<!DOCTYPE html>
<html>
  <title>CVEDatabase</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/user.css" />
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <% if(!username.Username){ %>
        <div class="topnav-right">
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
        <% }%>
        <%if(username.Username){ %>
          <div class="topnav-right">
            <a href="/CVE/">Console</a>
            <div class="dropdown">
              <button class="dropbtn">Account</button>
              <div class="dropdown-content">
                <a href="/account/"><%=username.Username %></a>
                <a href="/group/">Group</a>
              </div>
            </div>
          </div>
        <%}%>
      </div>
  </head>
  <body>
    <div class="home">
      <p style="margin-bottom: 0in; line-height: 100%"><font size="7" style="font-size: 40pt"><u><%=dataobj.Username%></u></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><br/></p>
<p align="right" style="margin-bottom: 0in; line-height: 100%; text-decoration: none">
<font size="6" style="font-size: 26pt"><%=dataobj.Email%></font></p>
<p align="right" style="margin-bottom: 0in; line-height: 100%; text-decoration: none">
<br/>
      <h1></h1>
    </div>
    <div class="footer">
      <h1>ciao</h1>
    </div>
  </body>
</html>
