.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #a1a1a1;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}


.time-right {
  float: right;
  color: #640000;
}

.time-left {
  float: left;
  color: #640000;
}
.search-bottom{
  position: fixed;
  bottom: 90px;
  left: 0;
  width: 100%;
}

h5 .right{
  float: right;
}

h5 .left{
  float: left;
}
