.dropdown {
  position: relative;
  display: block;
  margin-right: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-image{
  background-image: url(../images/loading.gif);
  background-size: 100px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.dropdown-content p{
  color: #000;
}
