.my{
  background-color: #adebf7;
  background: #adebf7;
  position: relative;
  margin: 0;
  padding-top: 7rem;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding-top: 7rem;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.row{
  display: flex;
}

.flex{
    display: flex;
    flex-direction: row;
}

#title h1{
  border-bottom: 4px solid;
  display: inline-block;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(4.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
